
body {
    font-family: Arial;
    background-color: #f5f5f5;
    padding: 200px;
}


h1 {
    color: #333;
    text-align: center;
}


form {
    background: white;
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



input {
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input,button{
    width: 100%;
    box-sizing: border-box;
    /*border-box解决按钮和输入框长度不同 让padding和border包含在width里*/
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 0px;
  display: block;
}

.password-helper{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin: 0;
    font-size: 10.5px;
}
.password-helper p,.password-helper a{
    margin:0;
}

.password-hint {
    color: #666;
}

.password-forget {
    text-decoration: none;
    color: #007bff;
}

.password-forget:hover {
    text-decoration: underline;
}

#loginBtn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #0056b3;
}

#signupBtn {
    padding: 10px;
    background-color: #e7ebf0;
    color: #0056b3;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

#signupBtn:hover {
    background-color: #b8babdee;
}

#messageBox {
  position: fixed;       /* 固定在屏幕中间 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  z-index: 9999;
}

/* 成功提示样式 */
.success {
  background: rgba(0, 128, 0, 0.85); /* 绿色半透明 */
  color: #fff;
}

/* 失败提示样式 */
.errorBox {
  background: rgba(200, 0, 0, 0.85); /* 红色半透明 */
  color: #fff;
}

.hidden {
  display: none;
}

